.home {
  width: 100%;
  min-height: 90vh;

  @apply bg-slate-900;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  @apply text-yellow-500 font-bold text-6xl;
}

.home-subtitle {
  @apply text-slate-500 font-semibold text-xl;
}
